%svg-common {
	background: url("../svg/alfresco.sprite.css.svg") no-repeat;
}

.svg-alfresco-flower {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-alfresco-flower-dims {
	width: 500px;
	height: 500px;
}

.svg-alfresco-logo {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-alfresco-logo-dims {
	width: 500px;
	height: 140.58px;
}

.svg-alfresco-logo-grey {
	@extend %svg-common;
	background-position: 100% 39.11301541372212%;
}

.svg-alfresco-logo-grey-dims {
	width: 500px;
	height: 140.58px;
}

